/* ===========================
   LOADER
=========================== */

#loader{
    position:fixed;
    inset:0;
    width:100%;
    height:100vh;
    background:linear-gradient(
        135deg,
        #08111f,
        #111827,
        #1e293b
    );
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:99999;
    transition:opacity .8s ease,
               visibility .8s ease;
}

#loader.hide{
    opacity:0;
    visibility:hidden;
}

.loader-content{
    text-align:center;
}

.logo-box{

    width:130px;
    height:130px;

    border:2px solid rgba(255,255,255,.08);

    border-radius:24px;

    display:flex;
    align-items:center;
    justify-content:center;

    margin:auto;

    background:rgba(255,255,255,.04);

    backdrop-filter:blur(15px);

    animation:floatLogo 3s infinite ease-in-out;

    box-shadow:
        0 0 30px rgba(37,99,235,.25);

}

.logo{

    font-size:42px;

    font-weight:700;

    font-family:var(--mono);

    color:white;

    letter-spacing:2px;

}

.loading-title{

    margin-top:30px;

    font-size:26px;

    font-weight:600;

}

.loading-text{

    margin-top:15px;

    color:#94a3b8;

    height:25px;

}

.progress{

    width:320px;

    height:8px;

    margin-top:40px;

    background:#1f2937;

    border-radius:999px;

    overflow:hidden;

}

.progress-bar{

    width:0%;

    height:100%;

    border-radius:999px;

    background:linear-gradient(
        90deg,
        #2563eb,
        #06b6d4
    );

    transition:width .3s;
}

.loading-percent{

    margin-top:15px;

    font-size:18px;

    color:#06b6d4;

    font-weight:600;

}

@keyframes floatLogo{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-12px);

}

100%{

transform:translateY(0);

}

}